<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.springbootlession.dao.NewsUserMapper">
    <select id="xmlSelect" resultType="com.example.demo.springbootlession.entity.NewsUser">
        select *
        from newsuser
    </select>
    <select id="xmlPage" resultType="com.example.demo.springbootlession.entity.NewsUser">
        select * from newsuser
    </select>

    <select id="xmlPage2" resultType="com.example.demo.springbootlession.entity.NewsUser"
            parameterType="int">
        select * from newsuser where id >#{id}
    </select>

    <select id="xmlPage3" resultType="com.example.demo.springbootlession.entity.NewsUser"
            parameterType="com.example.demo.springbootlession.entity.NewsUser">
        select * from newsuser where id >#{user.id}
    </select>
</mapper>